body {
  background-color: #282c34;
}
.App {
  display: flex;
  align-items:center;
  justify-content: center;


}

.wrapper {
  /*display: flex;*/
  flex-direction: column;
  width: 400px;
  height: 300px;
  border: #4495da solid 2px;
  margin: 10px 10px 10px 10px;
  padding: 25px;

}

.table {
  justify-content: center;
  width: 400px;
  height: 200px;
  border: #4495da solid 2px;
  background-color: #1f4b60;
  text-align: center;
  color: white;
  font-size: 135px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 400px;
  height: 87px;
  border: #4495da solid 2px;
  margin-top: 20px;
}

button {
  width: 100px;
  background-color: #5ad1fd;
  margin: 20px;
  border: #4495da solid 2px;
  font-size: 20px;
}

.limit {
  color: red;
}